/* Brand Colors ------------------------------------------------*/
	
	$primary-color: #ee632f;
    $secondary-color: #f7f7f7;
    $border-color: #ededed;
    $font-color: #ccc;
	$font-color-1: #ffffff;
	$font-color-2: #5e5e5e;
    $font-color-3: #a4a4a4;
	$nav-font-color: #6a6a6b;
    $bg-color-1: #323232;
    $bg-color-2: rgba(50, 50, 50, 0.85);
    $soc-color-1: #3d7dc6;
    $soc-color-2: #14aef6;
    $soc-color-3: #945bc0;
    $soc-color-4: #c12424;
	
	$placeholder: $secondary-color;
