#nav{
    float: right;
    ul{
        padding: 0;
        line-height: 155px;
    }
    li{
        padding: 0 0 0 15px;
        display: inline-block;
        text-transform: uppercase;
        font: 14px $brand-font-1;
        margin: 0;
        &:before{
            display: none;
        }
        a{
            display: block;
            width: 100%;
            height: 100%;
            color: $nav-font-color;
            @include transition-treatment_2;
            &:hover{
                color: $primary-color;
            }
        }
        
    }
}
////////////////////////////////

//          TAB

///////////////////////////////

@media (max-width: $wds){
    #nav li{
        font-size: 12px;
    }
}

////////////////////////////////

//          MOBILE

///////////////////////////////

@media (max-width: $wt){
    #nav ul{
        line-height: 40px;
    }
    #nav li{
        font-size: 10px;
    }
}
@media (max-width: $wml){
    #nav{
        display: none;
    }
}